.square {
  border-radius: 0%;
  background: lightblue;
  height: auto;
  overflow: hidden;
  margin: 10px;
  padding: 20px;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
  width: 257px;
}